<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CGPathIntersection.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2E38D2C01DDABDEF0097E652</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2EFEF67D1DD8D48800EA383E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2EFEF6861DD8D48800EA383E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
